{{>header}}
<div class="container">
<div class="container-fluid">
    <h2>
        Segundo Sprint Grupal Curso Node JS<br>
        <small>Semana 4 - MongoDB y Mongoose</small>
    </h2>
    <br>
    <br>
    <br>
    <nav>
      <ul class="pagination pagination-lg">
        <li class="page-item"><a class="page-link" href="/login#">Iniciar Sesión</a></li>
        <li class="page-item"><a class="page-link" href="/register">Registrarse</a></li>
        <li class="page-item"><a class="page-link" href="/courses">Ver Cursos</a></li>
        <li class="page-item"><a class="page-link" href="/chat">Chat</a></li>
      </ul>
    </nav>
</div>
</div>

<script>
    socket = io();
    socket.on("message", (data) => {
        console.log(data);
    });

    socket.emit("message", "im connected");

    
</script>

{{>footer}}
